<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">MyCare</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a   class="nav-link scrollto " href="#hero" >Home</a></li>
          <li><a   class="nav-link scrollto" href="#about">About</a></li>
          <li><a  class="nav-link scrollto" href="#services">Service</a></li>
          <li><a  class="nav-link scrollto" href="#departments">Departments</a></li>
          <li><a   class="nav-link scrollto" href="#doctors" >Doctors</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li><a class="nav-link scrollto"href="#contact">Contact</a></li>
          <li><a routerLink="register" class="nav-link scrollto" routerLinkActive="active">Register</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        <!-- <div class="col-2">
          <select class="custom-select">
            <option value="en">english</option>
            <option value="es">spanish</option>
          </select>
        </div> -->

      </nav><!-- .navbar -->

      <a  routerLink="login" class="appointment-btn scrollto" routerLinkActive="active">login</a>

    </div>
    
</header>
